<div class="container">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Quiz Name</mat-label>
      <input
        matInput
        name="quizName"
        type="text"
        class="form-control"
        id="quizName"
        [(ngModel)]="currentQuiz.name"
        required
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Time</mat-label>
      <input
        placeholder="Minute"
        matInput
        name="timeout"
        type="number"
        class="form-control"
        id="timeout"
        [(ngModel)]="currentQuiz.timeout"
        required
      />
    </mat-form-field>
  </div>

  <div
    class="test-container"
    *ngFor="let paragraph of currentQuiz.paragraphs; let paragraphIndex = index"
  >
    <div class="question-group">
      <mat-accordion>
        <mat-expansion-panel
          *ngFor="
            let question of paragraph.questions;
            let questionIndex = index
          "
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ question.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-group question-name">
            <mat-form-field>
              <mat-label>Question Name</mat-label>
              <input
                matInput
                name="questionName"
                class="form-control"
                id="questionName"
                [(ngModel)]="question.name"
                required
              />
            </mat-form-field>
            <button
              mat-icon-button
              color="warn"
              type="button"
              class="btn btn-danger"
              (click)="removeQuestion(paragraphIndex, questionIndex)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          @switch (question.type) { @case (1) {
          <div class="question">
            <app-short-answer
              [question]="question"
              [isEditting]="true"
            ></app-short-answer>
          </div>
          } @case (2) {
          <div class="question">
            <app-multiple-choices
              [question]="question"
              [isEditting]="true"
            ></app-multiple-choices>
          </div>
          } }
        </mat-expansion-panel>
      </mat-accordion>
      <div class="question-type-container">
        <mat-card class="card" (click)="addQuestion(paragraphIndex, 2)">
          <mat-card-content class="question-type-item">
            Dropdown choices
          </mat-card-content>
        </mat-card>
        <mat-card class="card" (click)="addQuestion(paragraphIndex, 1)">
          <mat-card-content class="question-type-item">
            Short Answer
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="input-reading">
      @if (isEditting) {
      <angular-editor
        name="questionContent"
        [id]="paragraph.id"
        [config]="config"
        [(ngModel)]="paragraph.content"
      ></angular-editor>
      <button
        mat-icon-button
        color="warn"
        type="button"
        class="btn btn-danger"
        (click)="removeParagraph(paragraphIndex)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      } @else {
      <span [innerHTML]="paragraph.content"></span>
      }
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button (click)="addParagraph()">New paragraph</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">
      Save and Quit
    </button>
  </div>
</div>
