<div class="container">
  <h1>{{ quiz.name }}</h1>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        name="quizName"
        type="text"
        class="form-control"
        id="quizName"
        [(ngModel)]="result.studentName"
        required
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <h2>{{ minutes }}:{{ seconds | number : "2.0" }}</h2>
  </div>

  @if (isReady) { @for (part of quiz.listeningParts; track $index) {
  <div class="question-group">
    <app-listening [data]="part" [isTesting]="true"></app-listening>
  </div>
  }
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmitClick()"
    style="margin-top: 16px"
  >
    Submit
  </button>
  } @else {
  <button
    [disabled]="
      !result.studentName ||
      result.studentName === null ||
      result.studentName === ''
    "
    mat-raised-button
    color="primary"
    (click)="onStartTest()"
    style="margin-top: 16px"
  >
    Start
  </button>
  }
</div>
