.quiz {
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.question-type-container {
  display: flex;
  margin: 20px 0;
}

.card {
  margin: 20px;
  cursor: pointer;
}

.question-type-item {
  width: 150px;
  height: 20px;
  margin: 10px 20px;
}

.actions {
  display: flex;
  flex-direction: column;
}

.question-group {
  margin: 20px;
}

.question {
  display: flex;
}
