<form>
  <div class="question-group">
    <div class="form-group">
      @if (isEditting) {
      <angular-editor
        [name]="question.id!"
        [id]="question.id!"
        [config]="config"
        [(ngModel)]="question.content"
      ></angular-editor>
      } @else {
      <span [innerHTML]="question.content"></span>
      }
    </div>

    <div class="choice-group">
      @for (choice of question.choices; track $index) {
      <div class="form-group">
        @if (isEditting) {
        <mat-form-field class="choice-index">
          <mat-label>No.</mat-label>
          <input
            matInput
            [name]="$index.toString()"
            type="text"
            class="form-control"
            [(ngModel)]="choice.index"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice.id!"
            type="text"
            class="form-control"
            [(ngModel)]="choice.content"
          />
        </mat-form-field>
        } @else {
        <p class="mat-display 2 question-text">
          <b>{{ choice.index }}.&nbsp;</b>
        </p>
        @if (isTesting) {
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice.id!"
            type="text"
            class="form-control"
            [(ngModel)]="choice.answer"
          />
        </mat-form-field>
        } @else { @if (isReadOnly) {
        <div class="answer-container">
          <div
            class="answer"
            [ngClass]="{
              correct: choice.answer === choice.content,
              incorrect: choice.answer !== choice.content
            }"
          >
            {{ choice.answer }}
          </div>

          @if (choice.answer !== choice.content) {
          <div class="correct-answer">
            {{ choice.content }}
          </div>
          }
        </div>
        } } }
        <button
          *ngIf="isEditting"
          mat-icon-button
          color="warn"
          type="button"
          class="btn btn-danger"
          (click)="removeChoice($index)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      }
    </div>

    <button
      *ngIf="isEditting"
      mat-button
      color="primary"
      type="button"
      class="btn btn-primary"
      style="margin-top: 16px"
      (click)="addChoice()"
    >
      <mat-icon>add</mat-icon>
      More option
    </button>
  </div>
</form>
