<form>
  <div class="question-group">
    <div class="form-group">
      @if (isEditting) {
      <angular-editor
        [name]="question.id"
        [id]="question.id"
        [config]="config"
        [(ngModel)]="question.title"
      ></angular-editor>
      } @else {
      <span [innerHTML]="question.title"></span>
      }
    </div>

    <div
      class="choice-group"
      *ngFor="let choice of question.choices; let i = index"
    >
      <div class="form-group">
        @if (isEditting) {
        <mat-form-field style="width: 50px; margin-right: 10px">
          <mat-label>No.</mat-label>
          <input
            matInput
            [name]="i.toString()"
            type="text"
            class="form-control"
            [(ngModel)]="choice.index"
          />
        </mat-form-field>
        } @else {
        <p class="question-text">{{ choice.index }}</p>
        } @if (isReadOnly) {
        <p
          class="answer"
          [ngClass]="{ correct: choice.answer === choice.content }"
        >
          {{ choice.answer }}
        </p>
        @if (choice.answer !== choice.content) {
        <p class="answer incorrect">&nbsp;&nbsp;{{ choice.content }}</p>
        } } @else { @if (isTesting) {
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice + i"
            type="text"
            class="form-control"
            [(ngModel)]="choice.answer"
          />
        </mat-form-field>
        } @else {
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice + i"
            type="text"
            class="form-control"
            [(ngModel)]="choice.content"
          />
        </mat-form-field>
        } }
        <button
          *ngIf="isEditting"
          mat-button
          type="button"
          class="btn btn-danger"
          (click)="removeChoice(i)"
        >
          ❌
        </button>
      </div>
    </div>

    <button
      *ngIf="isEditting"
      mat-button
      type="button"
      class="btn btn-primary"
      (click)="addChoice()"
    >
      ➕
    </button>
  </div>
</form>
