.choice-group {
  margin-top: 20px;
}

.question-text {
  width: 30px;
  height: 30px;
  line-height: 60px;
}

.answer {
  height: 30px;
  width: 100%;
  line-height: 60px;
}

.answer.correct {
  color: var(--success-color);
  font-weight: bold;
}

.answer.incorrect {
  color: var(--danger-color);
  font-weight: bold;
}

.form-group {
  display: flex;
}
