<form>
  <div class="question-group">
    <mat-card appearance="outlined">
      <div class="form-group">
        @if (isEditting) {
        <angular-editor
          [name]="question.id!"
          [id]="question.id!"
          [config]="config"
          [(ngModel)]="question.content"
        ></angular-editor>
        } @else {
        <mat-card-content>
          <span [innerHTML]="question.content"></span>
        </mat-card-content>
        }
      </div>
    </mat-card>

    <div
      class="choice-group"
      *ngFor="let choice of question.choices; let i = index"
    >
      <div class="form-group">
        @if (isEditting) {
        <mat-form-field class="choice-index">
          <mat-label>No.</mat-label>
          <input
            matInput
            [name]="i.toString()"
            type="text"
            class="form-control"
            [(ngModel)]="choice.index"
          />
        </mat-form-field>
        } @else {
        <p class="mat-display 2 question-text">
          <b>{{ choice.index }}.&nbsp;</b>
        </p>
        } @if (isReadOnly) {
        <div class="answer-container">
          <div
            class="answer"
            [ngClass]="{
              correct: choice.answer === choice.content,
              incorrect: choice.answer !== choice.content
            }"
          >
            {{ choice.answer }}
          </div>

          @if (choice.answer !== choice.content) {
          <div class="correct-answer">
            {{ choice.content }}
          </div>
          }
        </div>
        } @else { @if (isTesting) {
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice.id!"
            type="text"
            class="form-control"
            [(ngModel)]="choice.answer"
          />
        </mat-form-field>
        } @else {
        <mat-form-field>
          <mat-label>Answer</mat-label>
          <input
            matInput
            [name]="choice.id!"
            type="text"
            class="form-control"
            [(ngModel)]="choice.content"
          />
        </mat-form-field>
        } }
        <button
          *ngIf="isEditting"
          mat-icon-button
          color="warn"
          type="button"
          class="btn btn-danger"
          (click)="removeChoice(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <button
      *ngIf="isEditting"
      mat-button
      color="primary"
      type="button"
      class="btn btn-primary"
      style="margin-top: 16px"
      (click)="addChoice()"
    >
      <mat-icon>add</mat-icon>
      More option
    </button>
  </div>
</form>
