<form>
  <div class="question-group">
    <div class="form-group">
      @if (isEditting) {
      <angular-editor
        name="questionContent"
        [id]="question.id"
        [config]="config"
        [(ngModel)]="question.content"
      ></angular-editor>
      } @else {
      <mat-card appearance="outlined">
        <mat-card-content>
          <span [innerHTML]="question.content"></span>
        </mat-card-content>
      </mat-card>
      }
    </div>

    <div
      class="choice-group"
      *ngFor="let choice of question.choices; let i = index"
    >
      <div class="choice">
        <div
          class="choice-index"
          [ngClass]="{
            selected: isTesting
              ? question.answer === choice.id
              : question.correctAnswer === choice.id,
            isWrong:
              isReadOnly &&
              question.answer === choice.id &&
              question.answer !== question.correctAnswer,
            readonly: isReadOnly
          }"
          (click)="onSelectChoice(i)"
        >
          <p>{{ CHOICE_INDEX[i] }}</p>
        </div>
        <div class="form-group">
          @if (isEditting) {
          <mat-form-field>
            <input
              [disabled]="isReadOnly"
              matInput
              [name]="choice + i"
              type="text"
              class="form-control"
              [(ngModel)]="choice.content"
            />
          </mat-form-field>
          <button
            mat-icon-button
            color="warn"
            type="button"
            class="btn btn-danger"
            (click)="removeChoice(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          } @else {
          <p class="question-text">{{ choice.content }}</p>
          }
        </div>
      </div>
    </div>

    <button
      *ngIf="isEditting"
      mat-button
      color="primary"
      type="button"
      class="btn btn-primary"
      (click)="addChoice()"
    >
      <mat-icon>add</mat-icon>
      More option
    </button>
  </div>
</form>
