.choice-index {
  width: 30px;
  height: 30px;
  background-color: rgb(216, 210, 210);
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin: 16px 10px 0 0;
}

.question-text {
  width: 100%;
  height: 30px;
  line-height: 60px;
}

.choice-index.selected {
  background: var(--success-color);
}

.choice-index.isWrong {
  background: #f81212;
}

.choice-group {
  margin-top: 16px;
}

.choice {
  display: flex;
  align-items: start;
  width: 100%;
}
