<mat-tab-group>
  <mat-tab label="Reading">
    <ng-template matTabContent>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="addNewQuiz()">
          Add New Reading
        </button>
        <mat-form-field>
          <input
            placeholder="Search"
            matInput
            name="searchQuiz"
            type="search"
            class="form-control"
            id="searchQuiz"
            [(ngModel)]="searchQuizString"
            (ngModelChange)="onQuizSearch($event)"
          />
          <mat-icon matPrefix class="my-icon">search</mat-icon>
        </mat-form-field>
      </div>
      <div class="container">
        @for (test of readingTests; track $index) {
        <mat-card class="card">
          <mat-card-content class="card-content">
            <h2 class="mat-display-2 card-content-text">
              {{ test.name }}
            </h2></mat-card-content
          >
          <mat-card-actions>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="testTest(test.id)">Test</button>
              <button mat-menu-item (click)="edit('edit-reading', test.id)">
                Edit
              </button>
              <button mat-menu-item (click)="onDeleteClick(test)">
                Delete
              </button>
            </mat-menu>
          </mat-card-actions>
        </mat-card>
        }
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Listening">
    <ng-template matTabContent>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="addNewQuiz()">
          Add New Listening
        </button>
        <mat-form-field>
          <input
            placeholder="Search"
            matInput
            name="searchQuiz"
            type="search"
            class="form-control"
            id="searchQuiz"
            [(ngModel)]="searchQuizString"
            (ngModelChange)="onQuizSearch($event)"
          />
          <mat-icon matPrefix class="my-icon">search</mat-icon>
        </mat-form-field>
      </div>
      <div class="container">
        @for (quiz of quizzes; track $index) {
        <mat-card class="card">
          <mat-card-content class="card-content">
            <h2 class="mat-display-2 card-content-text">
              {{ quiz.name }}
            </h2></mat-card-content
          >
          <mat-card-actions>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="testTest(quiz.id)">Test</button>
              <button mat-menu-item (click)="edit('edit-quiz', quiz.id)">
                Edit
              </button>
              <button mat-menu-item (click)="onDeleteClick(quiz)">
                Delete
              </button>
            </mat-menu>
          </mat-card-actions>
        </mat-card>
        }
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Results">
    <ng-template matTabContent>
      <div class="search">
        <mat-form-field>
          <input
            placeholder="Search"
            matInput
            name="searchResult"
            type="search"
            class="form-control"
            id="searchResult"
            [(ngModel)]="searchResultString"
            (ngModelChange)="onResultSearch($event)"
          />
          <mat-icon matPrefix class="my-icon">search</mat-icon>
        </mat-form-field>
      </div>
      <div class="result-container">
        @for (result of results; track $index) {
        <div class="quizzes">
          <mat-card class="result-card">
            <mat-card-title class="card-result-title"
              ><h1 class="mat-display-2" (click)="view(result.id, 'results')">
                {{ result.studentName }}
              </h1>
              <mat-card-actions>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="view(result.id, 'results')">
                    View
                  </button>
                  <button
                    mat-menu-item
                    (click)="onDeleteResultClick(result.id)"
                  >
                    Delete
                  </button>
                </mat-menu>
              </mat-card-actions>
            </mat-card-title>
            <mat-card-content
              class="card-result-content"
              (click)="view(result.id, 'results')"
            >
              Point: {{ result.correctPoint }}/{{ result.totalPoint }} <br />
              Test date: {{ result.testDate }}
            </mat-card-content>
          </mat-card>
        </div>
        }
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
