.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizzes {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 400px;
  text-overflow: ellipsis;
}

.actions {
  margin-top: 10px;
}

.card-content {
  height: 64px;
  width: 100%;
}

.card-content-text {
  line-height: 48px;
}

.result {
  text-align: left;
  cursor: pointer;
}
